.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered {
    width: 50%;
    height: 100%;
    background-color: #C7C7C7;
    text-align: center;
    border-radius: 1rem 0 0 1rem;
}

.formDiv{
    display:inline-block;
    background-color: #C7C7C7;
}

form {
    margin-top: 20px
}

.imgDiv {
    display:inline;
    float: left
}

img {
    height: 660px;
    width: 300px;
    border-radius: 1rem 0 0 1rem;
}

input {
    display: block;
    height: 20px
}

button {
    height: 30px;
    width: 150px;
}
.resetPasswordFormDiv{
    background-color: #C7C7C7;
    text-align: center;
    padding: 40px;
    border-radius: 1rem 1rem 1rem 1rem;
}