<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="container">

    <div class="resetPasswordFormDiv">

        <form th:action="@{/resetPassword}" method="post">

        <h2 style="letter-spacing: 2px;">Reset Password</h2>
        <div>
            <div style="display: block;">
                <p th:if="${param.currentPasswordError}" style="font-size: 16px; color: #FF1C19;">
                    Current password does not match
                </p>
                <label for="currentPassword" style="display: block">Current Password:</label>
                <br>
                <input type="password" id="currentPassword" name="currentPassword" autofocus="autofocus" size="40" required/>
            </div>
            <br><br>
            <div style="display: block;">
                <label for="newPassword" style="display: block">New Password:</label>
                <br>
                <input type="password" id="newPassword" name="newPassword" autofocus="autofocus" size="40" required/>
            </div>
            <br><br>
            <div style="display: block;">
                <p th:if="${param.repeatPasswordError}" style="font-size: 16px; color: #FF1C19;">
                    The repeated new password does not match
                </p>
                <label for="repeatNewPassword" style="display: block">Repeat The New Password:</label>
                <br>
                <input type="password" id="repeatNewPassword" name="repeatNewPassword" autofocus="autofocus" size="40" required/>
            </div>
        </div>
        <br><br>
        <div>
            <button type="submit" style="height:30px;width:150px;">Reset</button>
        </div>
        <br>
        </form>
    </div>

</div>
</body>
</html>